@import "./theme.css";

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	body {
		margin: 0;
		background-color: var(--colors-background-neutral);
		color: var(--colors-text-primary);
		font-family: var(--font-urbanist);
		font-synthesis: none;
		-webkit-font-smoothing: antialiased;
	}

	button,
	input,
	select {
		font-family: inherit;
	}
}
